@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&display=swap');

/* Configurações gerais ################################################*/

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-family: 'Darker Grotesque', sans-serif;
}

.text_wrapper {
    display:flex;
    padding-top:40px;
    padding-bottom: 120px;
    flex-direction: column;
    text-align:center;
}

p {
    color: white;
    font-size:17pt;
    font-weight: 400;
    line-height: 15pt;
}

h2 {
    color: #DEB959;
    font-size: 50pt;
    padding-bottom: 50px;
}

/* Barra de navegação ################################################*/

.nav_wrapper {
    list-style-type: none;
    background-color: #85CDF5;
    width: 100%;
}

.navbar ul {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.nav_item {
    font-weight: 700;
    font-size: 30pt;
    color: #222221e7;
}

.navbar img {
    padding-top: 20px;
}

/* Animação da navbar */

.navbar a:hover {
    cursor: pointer;
}

.navbar .nav_item a {
    position: relative;
}

.navbar .nav_wrapper:nth-child(1) a::after {
    display: block;
    position: absolute;
    content: "";
    background: #333333;

    height: 4px;
    width: 0;
    float: left;
    transition: width .7s ease;
}

.navbar .nav_wrapper li:nth-child(3) a::after {
    display: block;
    position: absolute;
    content: "";
    background: #333333;

    height: 4px;
    width: 0;
    right: 0px;
    transition: width .7s ease;
}

.navbar .nav_wrapper:nth-child(1) a:hover::after {
    transition: width 1s ease;
    width: 100%;
}

.navbar .nav_wrapper li:nth-child(3) a:hover::after {
    transition: width 1s ease;
    width: 100%;
}

/* */

/* Adote um lobinho ################################################*/

#adote {
    background-image: url(imgs/image-\(3\).png);
    background-position: center;
    background-size: cover;
    background-color: rgb(194, 194, 194);
    background-blend-mode:multiply;
    transition: .2s;

    display:flex;
    padding: 120px;
    flex-direction: column;
    text-align:center;
    justify-content: center;
}

/* Seção do h1 */
#adote section:nth-child(1) {
    display: flex;
    position: relative;
    justify-content: center;
}

#adote h1{
    color:white;
    font-size: 80pt;
    padding-bottom: 50px;
}

/* Barrinha branca */
#adote h1::after{
    margin-top: 20px;
    display: flex;
    content: "";
    background: white;

    margin-left: auto;
    margin-right: auto;

    height: 5px;
    width: 20%;

    transition: .5s;
}

/* Animação da barrinha branca */

#adote:hover{
    transition: .3s;
    background-color: rgb(134, 134, 134);
}

#adote:hover h1::after{
    transition: .8s;
    width: 80%;
 }

#adote p {
    line-height: 30px;
    color:white;
    font-size: 22pt;
}

/* Sobre ################################################*/

#sobre {
    background-color: #2C567F;
}

#sobre p {
    color: white;
    font-size:17pt;
    font-weight: lighter 400;
    line-height: 35px;
}

/* Valores ################################################*/

#valores h3 {
    font-size:20pt;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

#valores {
    background-color:#333333;
}

#valores div {
    background-color: white;
    border-radius:50%;
    display: inline-block;
    padding:20%;
}

#valores ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100pt;
    padding-right: 100pt;
}

#valores li {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

/* Lobos ################################################*/

#lobos h2 {
    margin-bottom: 40px;
}

#lobos h3 {
    font-size:25pt;
    font-weight: 800;
    color: black;
}

#lobos #idade {
    font-size:16pt;
}

#lobos p {
    max-width: 500px;
    color: black;
}

#lobos .idade {
    padding-bottom: 20px;
}

#lobos ul {
    display:flex;
    flex-direction: column;
    margin-left: 160px;
    margin-right: 160px;
}

#lobos img {
    box-shadow: -50px -40px #2C5680;
    height:300px;
}

#lobos li:nth-child(2) img{
    box-shadow: 50px -40px #2C5680;
}

#lobos li {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
}

#lobos li:nth-child(2) {
    margin-top:100px;
    flex-direction: row-reverse;
    text-align: end;
}

/* Footer ################################################*/

footer {
    background-color: #333333;
    color:white;
    padding:50px;
    padding-right: 200px;
    border-top: 5px solid #DEB959;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer figure {
    vertical-align: middle;
}

footer div {
    font-weight: 500;
    font-size: 12pt;
    color:white;

    display:flex;
}

footer a {
    font-weight: 700;
    font-size:20pt;
    padding:0px 8px 2px 8px;
    margin-top: 10px;
    color:#333333;
    background-color: #DEB959;
}

footer ul {
    padding-left: 50px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer #icones {
    margin-top: 2px;
    display:flex;
    flex-direction: column;
}

footer div img {
    height:18px;
    margin-top: 5px;
    margin-right: 12px;
}

footer li {
    display: flex;
    margin-bottom: 10px;
}

/* Animação */

footer a {
    transition: .2s;
}

footer ul > div a:hover {
    transition: .3s;
    transform: scale(1.1);
}